<ion-header>
  <ion-toolbar color="primary">
      <ion-title></ion-title>
      <!-- Menu Icon -->
      <ion-buttons slot="start">
          <ion-menu-button  ></ion-menu-button>
      </ion-buttons>
  <!-- Back icon -->
       <ion-buttons slot="start"> 
       <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons> 
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item lines="none">
    <ion-label position="stacked">Waste</ion-label>
    <ion-select [(ngModel)]="selectedWaste" placeholder="Select Waste">
      <ion-select-option value="KRT">KRT</ion-select-option>
      <ion-select-option value="Paper">Paper</ion-select-option>
      <ion-select-option value="White Cover">White Cover</ion-select-option>
      <ion-select-option value="Brown">Brown</ion-select-option>
      <ion-select-option value="Waste Bag">Waste Bag</ion-select-option>
      <ion-select-option value="Oil Cover">Oil Cover</ion-select-option>
      <ion-select-option value="Waste Glass Plastic">Waste Glass Plastic</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item lines="none">
    <ion-label position="stacked">Kilograms</ion-label>
    <ion-input type="number" [(ngModel)]="kg" placeholder="Enter Kilograms"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="saveWaste()">Add</ion-button>
<h6>List of items to be added</h6>
<ion-card *ngIf="wasteList.length > 0">
  <ion-card-content>
    <ion-list>
      <ion-item *ngFor="let item of wasteList">
        <ion-label>{{ item.waste }} - {{ item.kg }} kg</ion-label>
        <ion-button slot="end" (click)="removeWaste(item.id)">Delete</ion-button>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
</ion-content> 




  <ion-footer>
<ion-card>
  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col size="3" routerLink="/home">
        <ion-icon name="home" color="grey"></ion-icon>
        <p>Home</p>
      </ion-col>
      <ion-col size="3" routerLink="/about">
        <ion-icon name="person-outline" color="grey"></ion-icon>
        <p>Customer</p>
      </ion-col>
      <ion-col size="3" routerLink="/contact">
        <ion-icon name="chatbox" color="grey"></ion-icon>
        <p>Trips</p>
      </ion-col>
      <ion-col size="3" routerLink="/contact">
        <ion-icon name="chatbox" color="grey"></ion-icon>
        <p>Sell</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
</ion-footer>

